/* Vert clair : #DDF8C3 */
/* Vert : #C5ECAC */
/* Bleu clair : #A8E1DF */
/* Bleu : #88C7DB */
/* Bleu foncé : #5D97D1 */

/*REGLES D'UTILISATION*/

/*Bleu foncé : à utiliser pour les boutons*/

/* Texte */
/* font-family: 'Inter Tight', sans-serif; */

/* Titres */
/* font-family: 'Lobster', cursive; */



