<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/homeStyle.css" />
    <link rel="stylesheet" href="../css/generalStyle.css" />
  </head>

  <body>
    <div id="titleContainer">
      <div id="logoContainer">
        <img src="../assets/images/logo.png" alt="Logo" id="logoImg" />
      </div>
      <div><a href="homeView.html" id="homeTitle">QuoiCookBae</a></div>
    </div>
    <div id="subTitleContainer">
      <div id="subTitle">
        Régaler ses papilles sans se salir les mains, c’est un jeu d’enfant !
      </div>
    </div>
    <div id="stepsContainer">
      <img id="bandeauImg" src="../assets/images/bandeau.png" alt="" />
      <img class="stepImg" src="../../assets/images/recherche.png" alt="" />
      <img class="stepImg" src="../assets/images/cuisine.png" alt="" />
      <img class="stepImg" src="../assets/images/gestes.png" alt="" />
      <img class="stepImg" src="../assets/images/parole.png" alt="" />
    </div>
    <div id="btnContainer">
      <button id="btnGo"><a href="searchView.html">Aux fourneaux !</a></button>
    </div>
  </body>
</html>
